* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* shared styles */
.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;

}

.logo h2 {
    font-size: 45px;
    font-weight: 900;

}

.color-orange {
    color: #FD6E0A;
}

.section-hiding {
    text-align: center;
    margin-bottom: 50px;
}

/* main styles */
header {
    background-color: #FFF8F3;
    padding-top: 20px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maun {
    justify-content: center;
    align-items: center;
}

.maun ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.maun ul li a {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.maun .nav-btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.maun .nav-btn a {
    color: white;
    font-size: 20px;
}

#banner {

    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content h1 {
    font-size: 45px;
    font-weight: semi-bold;
    color: #474747;
    margin-bottom: 10px;
}

.banner-content h2 {
    font-size: 60px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    width: 586px;
    padding: 10px 0px;
}

.btn {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn .banner-btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.btn .banner-btn-secondary {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

/* about section */

.about-container {
    padding-top: 130px;
}


.about-container .about-contain {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 130px;
}

.section-hading h2 {
    font-size: 36px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.section-hading p {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 20px;
    line-height: 30px;
}

.about-container .about-card-contain {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.about-container .about-card-contain .about-card p {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 10px;
}

.about-container .about-card-contain .about-card h5 {
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

/* skill-section */

.skill-section {
    padding: 130px 0px;
}

.skill-section .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-section .skill-container .section-hiding h2 {
    font-size: 36px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    text-align: center;
}

.skill-section .skill-container .section-hiding p {
    font-size: 18px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 10px;
    text-align: center;
    width: 586px;
    margin: 0 auto;
}


.skill-card-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.skill-card-container .skill-card {
    width: 23%;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.skill-card img {
    max-width: 100%;
    margin-bottom: 20px;
}

.skill-card h5 {
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 16px;
    font-weight: normal;
    color: #757575;
    margin-bottom: 10px;
}

/* resume-section */

.resume-section {
    padding: 80px 0px;
}

.resume-section .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}



.resume-contain {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;

}

.education .education-title {
    margin-bottom: 50px;
}

.education .education-header h3 {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.education .education-header h5 {
    font-size: 20px;
    font-weight: semi-bold;
    color: #757575;
    margin-bottom: 10px;
}

.education .education-header p {
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-btn-contain {
    text-align: center;
    margin-top: 50px;
}

.resume-btn-contain .resume-btn {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* footer  */

.footer-section {
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130px 0;
}

.footer-section .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 116px;

}

.social {
    max-width: 562px;
}

.footer-container h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    color: #181818;
    margin-bottom: 20px;
}

.social p {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    color: #474747;
    margin-bottom: 20px;
}

.social-icon {
    display: flex;
    gap: 20px;
    color: #FD6E0A;
}

.footer-container .from input[type="text"],
.footer-container .from textarea {
    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
    color: #757575;
    
}

.from-btn{
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}